
		<div id = "header-discover">Discover</div>
		
		<div id = "main-discover">
			<div id = "hot" class = "row-discover">
				<div class = "sub-heading">Hot</div>
				<% @projects.each do |project|%>
					<div class = "tab-discover">
						<div class = "frame">
							Name : <%= project.name %>
							Description : <%= project.description %>
						</div>
						<div class = "progress-bar"><%= project.progress %></div>
					</div>
				<% end %>
			</div>
			
			<div class = "sub-heading">Categories</div>
			
			<div class="row row-discover">
    			<% @categories.each do |category|%>
				  <div class="col-md-4">
				    <div class="category">
				      <%= link_to category.name, display_category_path(id: category.id) %>
				      <!--<%= link_to category.name, "/pages/display_categories/#{category.id}" %>-->
				    </div>
				  </div>
				<% end %>
			</div>
			
			<div id = "hot-tw" class = "row-discover">
				<div class = "sub-heading">Hot This Week</div>
				<div class = "row-discover">
					<div class = "tab-discover">
						<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
					</div>
					<div class = "tab-discover">
						<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
					</div>
					<div class = "tab-discover">
						<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
					</div>
					<div class = "tab-discover">
						<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
					</div>
				</div>
			</div>
			
		</div>