<!DOCTYPE html>
<html>
<head>
  <title>Railsserver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
	<a href = "/pages/landing"><div id = "home" class = "mLink">Home</div></a>
	<a href = "/pages/discover"><div id = "discover" class = "mLink">Discover</div></a>
	<a href = "/pages/apply"><div id = "apply" class = "mLink">Apply</div></a>

	<div style = "display : inline-block ; margin : 5px 5px 5px 5px">
		<i class="glyphicon glyphicon-search"></i>
	</div>

	<input style = "display : inline-block ; width : 250px" type = "search" class = "form-control" id = "username-input" placeholder = "Search"></input>

	<a href = "/users/sign_in"><div class = "mLink" style = "float : right ; color : lightblue">Login</div></a>
	<a href = "/users/sign_up"><div class = "mLink" style = "float : right ; color : lightblue">Sign Up</div></a>

</div>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container belongsfooter" style = "width : 100%">
		 <div id="outline">
			<div id="gridstuff">
				<div class="container-fluid">

					<div class="row">
						<div id="about-us" class="col-md-3">
							<ul style="list-style-type: none">
								<li style="font-weight: bolder; font-size: 17px; padding-bottom: 13px" class = "li-footer">About Us</li>
								<li class = "li-footer">What is Charityspring</li>
								<li class = "li-footer">Who we are</li>
								<a style = "color : white ; a:hover = color : lightgrey" href = "/pages/support"><li class = "li-footer">Support</li></a>
							</ul>
						</div>

						<div id="categories" class="col-md-3">
							<ul style="list-style-type: none;">

							  <li style="font-weight: bolder; font-size: 17px; padding-bottom: 13px" class = "li-footer">Categories</li>
								<% @categories.each do |category| %>
                  <p class = "li-footer"><%= link_to category.name, display_category_path(id: category.id) %></p>
								<% end %>
							</ul>
						</div>

						<div id="social" class="col-md-3">
							<ul style="list-style-type: none;">
								<li style="font-weight: bolder; font-size: 17px; padding-bottom: 13px" class = "li-footer">Our  Networks</li>
								<li class = "li-footer">Twitter</li>
								<li class = "li-footer">Facebook</li>
								<li class = "li-footer">Google+</li>
							</ul>
						</div>
					</div>

					<div id="mid-border" class="col-md-11">
					</div>

					<div id="ending">
						<div class="row">
							<div id="end" class="col-md-3 col-md-offset-4">
								<h3 class = "h3-footer">
									42labs
								</h3>

								<p>
									All rights reserved and stuff.
								</p>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
  </div>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>

</body>
</html>
