<!DOCTYPE html>
<html>
<head>
  <title>Railsserver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">The Idea app</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/ideas">Ideas</a></li>
        <li ><%= link_to 'New Idea', new_idea_path %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container" class = "belongsfooter">
		 <div id="outline" class = "belongsfooter">
			<div id="gridstuff" class = "belongsfooter">
				<div class="container-fluid ; belongsfooter" >
					
					<div class="row ; belongsfooter">
						<div id="about-us" class="col-md-3 ; belongsfooter">
							<ul style="list-style-type: none;" class = "belongsfooter">
								<li style="font-weight: bolder; font-size: 17px; padding-bottom: 13px;" class = "belongsfooter">About Us</li>
								<li class = "belongsfooter ; li-footer">What is Charityspring</li>
								<li class = "belongsfooter ; li-footer">Who we are</li>
								<li class = "belongsfooter ; li-footer"></li>
							</ul>
						</div>
						
						<div id="categories ; belongsfooter" class="col-md-3">
							<ul style="list-style-type: none;" class = "belongsfooter">
								<li style="font-weight: bolder; font-size: 17px; padding-bottom: 13px;" class = "belongsfooter">Categories</li>
								<li class = "belongsfooter ; li-footer">Education</li>
								<li class = "belongsfooter ; li-footer">Environment</li>
								<li class = "belongsfooter ; li-footer">Food</li>
								<li class = "belongsfooter ; li-footer">Water</li>
								<li class = "belongsfooter ; li-footer">Human Rights</li>
								<li class = "belongsfooter ; li-footer">Obamacare</li>
							</ul>
						</div>
						
						<div id="social" class="col-md-3 ; belongsfooter">
							<ul style="list-style-type: none;" class = "belongsfooter">
								<li style="font-weight: bolder; font-size: 17px; padding-bottom: 13px;" class = "belongsfooter">Our  Networks</li>
								<li class = "belongsfooter ; li-footer">Twitter</li>
								<li class = "belongsfooter ; li-footer">Facebook</li>
								<li class = "belongsfooter ; li-footer">Google+</li>
							</ul>
						</div>
					</div>
					
					<div id="mid-border" class="col-md-11 ; belongsfooter">
					</div>
					
					<div id="ending">
						<div class="row">
							<div id="end" class="col-md-3 col-md-offset-4">
								<h3 class = "h3-footer">
									42labs
								</h3>
								
								<p>
									All rights reserved and stuff.
								</p>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
  </div>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>

</body>
</html>
